<%- include('header') -%>

  <main class="video">
      <div class="heading">
        <h2 class="heading__title"><%= video.title %></h2>
      </div>

      <div class="video__content">
        <video controls>
            <source src="<%= video.video %>" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>

      <footer class="video__footer">
        <a class="video__back" href="/">Til baka</a>
      </footer>
  </main>

<%- include('footer') -%>