.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  min-height: 40vh;
  position: relative;

  &__title {
    font-size: 3rem;
    position: relative;
    z-index: 1;
  }
}
